.btn{
  width: 100px ;
  height: 45px;
}

.new-joke {
  color:#007bff !important;
  border: white;
  background: white;
  outline:none !important;
}

@media screen and (max-width:989px) {
  hr{
      padding:2px !important;
    }
  .btn{
    width: 80px ;
    height: 35px;
    font-size:small !important;
  }

}
@media screen and (max-width:840px) {
  hr{
    padding:2px !important;
  }
  .btn{
   width: 70px ;
   height: 30px;
   font-size:10px !important;
  }
}

@media screen and (max-width:767px) {
  .btn{
    width: 100px ;
    height: 45px;
    font-size: large !important;
  }
  }
@media screen and (max-width:500px) {
  .btn{
    width: 80px ;
    height: 30px;
    font-size:12px !important;
  }
}
@media screen and (max-width:425px) {
  .btn{
    width: 72px ;
    height: 25px;
    font-size:11px !important;
  }
}
@media screen and (max-width:375px) {
  .btn{
    width: 60px ;
    height: 20px;
    font-size:8px !important;
  }
}
@media screen and (max-width:338px) {
  .btn{
    width: 55px ;
    height: 16px;
    font-size:6px !important;
  }
}


